@media print {
    body {
        font-family: Arial, sans-serif;
        background-color: bisque;
        color: #000;
        margin: 20px;
        padding: 20px;
        border: 1px solid #000;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .user-info {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
     }

    a.btn {
        display: none; /* Oculta el botón al imprimir */
    }
}
